Repository graphql-dotnet/relay, changes with the labels that .github/labeler.yml gives for each.
All labels: test, CI, code style, documentation

.github/labeler.yml:

test:
  - src/GraphQL.Relay.Test/**/*
  - src/GraphQL.Relay.ApiTests/**/*.cs

CI:
  - .github/workflows/**/*
  - .github/dependabot.yml
  - .github/labeler.yml
  - .github/codecov.yml

code style:
  - .editorconfig

documentation:
  - README.md

add CodeQL
  .github/workflows/codeql-analysis.yml
  GraphQL.Relay.sln
  codeql/GraphQL.Relay.CodeQL.sln
Labels: CI

format + label workflow
  .github/workflows/label.yml
  GraphQL.Relay.sln
  src/GraphQL.Relay.Test/NodeTypeTests.cs
  src/GraphQL.Relay.Test/Types/ConnectionUtilsTests.cs
  src/GraphQL.Relay.Test/Types/IncompleteSliceExceptionTests.cs
  src/GraphQL.Relay.Test/UnitTest1.cs
  src/GraphQL.Relay.Test/Utilities/EdgeRangeTests.cs
  src/GraphQL.Relay.Test/Utilities/RelayPaginationTests.cs
Labels: test, CI

more
  src/GraphQL.Relay.Todo/Database/TodoDatabase.cs
Labels: none

more fixes
  GraphQL.Relay.sln
  src/Directory.Build.props
  src/GraphQL.Relay.StarWars/GraphQL.Relay.StarWars.csproj
  src/GraphQL.Relay.Test/GraphQL.Relay.Test.csproj
  src/GraphQL.Relay.Test/NodeTypeTests.cs
  src/GraphQL.Relay.Test/Types/ArraySliceMetricesTests.cs
  src/GraphQL.Relay.Test/Types/ConnectionUtilsTests.cs
  src/GraphQL.Relay.Test/Types/IncompleteSliceExceptionTests.cs
  src/GraphQL.Relay.Test/Types/QueryGraphTypeTests.cs
  src/GraphQL.Relay.Test/UnitTest1.cs
  src/GraphQL.Relay.Test/Utilities/EdgeRangeTests.cs
  src/GraphQL.Relay.Test/Utilities/RelayPaginationTests.cs
  src/GraphQL.Relay.Todo/GraphQL.Relay.Todo.csproj
  src/GraphQL.Relay/Types/MutationInputGraphType.cs
  src/GraphQL.Relay/Types/NodeInterface.cs
  src/GraphQL.Relay/Types/QueryGraphType.cs
  src/Tests.props
  src/xunit.runner.json
Labels: test

more
  src/GraphQL.Relay.StarWars/Api/Swapi.cs
  src/GraphQL.Relay.StarWars/Types/Film.cs
  src/GraphQL.Relay.StarWars/Types/People.cs
  src/GraphQL.Relay.StarWars/Types/Planet.cs
  src/GraphQL.Relay.StarWars/Types/Species.cs
  src/GraphQL.Relay.StarWars/Types/StarWarsQuery.cs
  src/GraphQL.Relay.StarWars/Types/Starship.cs
  src/GraphQL.Relay.StarWars/Types/Vehicle.cs
  src/GraphQL.Relay.Todo/Database/TodoDatabase.cs
  src/GraphQL.Relay.Todo/Startup.cs
Labels: none

fix coverage path
  .github/workflows/test-code.yml
Labels: CI

tabs -> spaces
  src/Directory.Build.props
Labels: none

remove newlines
  src/GraphQL.Relay.StarWars/Api/Entities.cs
  src/GraphQL.Relay.StarWars/Api/Swapi.cs
  src/GraphQL.Relay.Test/Types/ConnectionUtilsTests.cs
  src/GraphQL.Relay.Test/Utilities/EdgeRangeTests.cs
  src/GraphQL.Relay.Test/Utilities/RelayPaginationTests.cs
  src/GraphQL.Relay/Types/MutationPayloadGraphType.cs
  src/GraphQL.Relay/Types/NodeGraphType.cs
  src/GraphQL.Relay/Utilities/RelayPagination.cs
Labels: test
